/* 头 */
.header0 {
  height: 150px;
  line-height: 150px;
  font-size: 75px;
  text-align: center;
  text-decoration: line-through;
  margin: 35px auto;
}
.search {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
}
.search .s {
  width: 100%;
}
.search .s li {
  float: right;
  width: 200px;
  height: 20px;
  text-align: center;
}
.search .s li a {
  font-size: 14px;
  color: #fff;
}
.search .s li a:hover {
  color: #ff6000;
}
/* service通用 */
.content1 .title1 {
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.content1 .service .h2 {
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin: 15px 0;
  color: #ff6000;
  border-top: 1px solid #002FA7;
}
.content1 .service .sub0 {
  color: #002FA7;
}
.content1 .service .sp0 {
  color: pink;
}
.content1 .service .sp li h5 {
  color: pink;
}
.content1 .article .main {
  padding-left: 20px;
}
.content1 .article .sub ul li {
  font-size: 18px;
  text-align: center;
}
.content1 li {
  float: left;
  width: 275px;
  background-color: rgba(0, 47, 167, 0.147);
  border-radius: 17px;
  margin: 10px 20px 10px 0;
  padding: 5px 0 5px 0;
}
.content1 li a {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 16px;
  text-align: center;
}
.content1 li a span {
  align-self: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content1 .backup-content {
  text-align: center;
}
.content1 .backup-content h5 {
  border-top: 1px solid #000;
  margin-top: 15px;
  color: #ff6000;
}
.content1 .backup-content .backup li a {
  font-size: 14px;
  text-decoration: underline;
}
